.App {
  height: 100vh;
  overflow: scroll;
  background-color: #f8f9fa;
}
.todoContainer {
  height: 100vh;
  display: flex;
}
.todoBody {
  padding: 50px;
  width: 100%;
  text-align: center;
}
.todoHeader {
  display: flex;
  justify-content: center;
}
.todoHeader img {
  height: 80px;
  width: 80px;
  margin-top: 20px;
}
.todoHeader h1 {
  color: #037bff;
  font-weight: 500;
  font-size: 45px;
  text-decoration: underline;
}
.bottomBorder {
  border-bottom: 1px solid #DCDCDC;
  padding: 40px;
}
.todoInput {
  background-color: white;
  width: 800px;
  height: 60px;
  border-radius: 3px;
  margin: auto;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 2px 5px #DCDCDC;
}
.todoInput input {
  border: none;
  padding: 10px;
  border-radius: 5px;
  width: 600px;
  color: rgb(98, 97, 97);
  font-size: 20px;
}
.todoInput input:focus {
  outline-color: white;
}
.todoInput img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: 200;
}
.btn:hover {
  cursor: pointer;
}
.listTop {
  margin-top: 100px;
}
.todoList {
  margin: auto;
  width: 800px;
}
.todoItems {
  display: flex;
  align-items: center;
  padding: 7px;
  gap: 20px;
  font-size: 25px;
  color: rgb(98, 97, 97);
}

.formRegister h1 {
  color: #037bff;
  font-weight: 600;
  font-size: 45px;
}

.formRegister p {
  font-weight: 600;
}

.formRegister label {
  display: block;
}

.formRegister input {
  background-color: white;
  width: 400px;
  height: 30px;
  align-items: center;
  border-radius: 3px;
  box-shadow: 1px 2px 5px #DCDCDC;
  border: none;
  padding: 5px 10px;
  font-size: 15px;
}

.formRegister input:focus {
  outline-color: white;
}

.details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  padding: 5px;
}

.btnDetails {
  background-color: #007bff;
  width: 420px;
  align-items: center;
  color: white;
  border-radius: 3px;
  border: none;
  padding: 10px;
  font-size: 18px;
  font-weight: 200;
  margin-top: 10px;
}

.btnDetails:hover {
  cursor: pointer;
  background-color: #0059ff;
}

.info {
  margin-right: 342px;
}

.infoEmail {
  margin-right: 380px;
}

.infoPassword {
  margin-right: 350px;
}

.infoPasswordConfirm {
  margin-right: 290px;
}

.formLogin h1 {
  color: #037bff;
  font-weight: 600;
  font-size: 45px;
}

.formLogin p {
  font-weight: 600;
}

.formLogin input {
  background-color: white;
  width: 400px;
  height: 30px;
  border-radius: 3px;
  box-shadow: 1px 2px 5px #DCDCDC;
  border: none;
  padding: 5px 10px;
  font-size: 15px;
}

.formLogin input:focus {
  outline-color: white;
}

span {
  background-color: rgb(252, 107, 107);
  border-radius: 1px;
  border: none;
  font-size: 15px;
}